#messages div.message-body
{
    text-align: left;
    max-width: 75%;
    /*background: rgba(128, 128, 128, 0.125);*/
    padding: 1em;
    display: inline-block;
}

#messages div.message-wrapper {
    margin-bottom: 1em;
}

#messages div.message-wrapper.query {
    text-align: right;
    margin-left: auto;
    margin-right: 0;
}

#messages div.message-body pre {
    /*padding: 0.5em;
    background: rgba(0, 0, 0, 0.25);*/
    margin: 0;
    /**/margin-top: 1em;
    margin-bottom: 1em;
    overflow-x: scroll;
}
