{% extends "base.html" %}

{% block title %}Sessions{% endblock %}

{% block toolbar %}
    <div class="navbar navbar-expand bg-gray-800 justify-content-between px-2">
        <div class="align-items-center">
            <div class="form-inline">
                <div class="input-group">
                    <span class="input-group-text"><i class="fa fa-fw fa-search"></i></span>
                    <input type="text" class="form-control" name="search-text" placeholder="Enter a name..." autocomplete="off" fv-regex="{{ common.session_name_regex }}" fv-warning="Only alphanumerics, hypens, and underscores are allowed.">
                    <a class="btn btn-primary" onclick="fnGo();"><i class="fa fa-fw fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
{% endblock toolbar %}

{% block navbar_spacing %}
    <div class="navbar-spacing"></div>
{% endblock navbar_spacing %}

{% block body %}
    <!--
    <div class="container"> -->
        <div class="row m-0">
            <div class="col-lg-12 p-0">
                {% for session in common.sessions %}
                    <div class="py-3 border-bottom cursor-pointer highlight-hover" data-session="{{ session.name }}">
                    <table class="w-100">
                        <tbody>
                            <tr>
                                <td class="w-1">
                                    <i class="fa fa-fw fa-{{ session.thread_name[0].lower() }} thread-icon mx-3"></i>
                                </td>
                                <td class="">
                                    <div>
                                        <div>
                                            <span class="fw-bold">{{ session.thread_name }}</span>
                                        </div>
                                        <div class="text-muted">
                                            {% if session.last_message != None %}
                                                {% if session.last_message.hidden == False %}

                                                    {% if session.display_as_contact == False or (session.display_as_contact == True and session.last_message.author == "user") %}
                                                        <span>{{ session.last_message.author_name }}: </span>
                                                    {% endif %}

                                                    <span>{{ session.last_message.body }}</span>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </td>
                                <td class="w-1">
                                    <i class="fa fa-fw fa-chevron-right mx-3"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                {% endfor %}
            </div>
        </div>
    <!--
    </div> -->
{% endblock body %}

{% block footer %}
{% endblock footer %}

{% block scripts %}
    <script>
        $(function() {
            fnGo = function()
            {
                var name = $("[name='search-text']").first()
                    .val()
                    .trim();

                FormValidator.onPass(function() {
                    window.location.href = `/session/${name}`;
                });
            };

            fnBind = function()
            {
                $(document).on("keyup", function(e) {
                    if (e.keyCode == 13)
                        if ($("[name='search-text']").is(":focus"))
                            fnGo();
                });

                $("[data-session]").on("click", function() {
                    elem = $(this);
                    elem.fadeIn(400);
                    session = elem.attr("data-session");
                    window.location.href = `/session/${session}`;
                });

                $("[name='search-text']").on("input", function() {
                    elem = $(this);
                    text1 = elem.val();

                    $("[data-session]").each(function(i, x) {
                        x = $(x);
                        text2 = x.text();

                        x.hide();
                        //if (text2.match(new RegExp(text1)))
                        if (text2.hasWords(text1))
                            x.show();
                    });
                });
            };

            fnBind();
        });
    </script>
{% endblock scripts %}
