{% extends "base.html" %}

{% block title %}
    {{ common.session.thread_name }}
{% endblock %}

{% block primary_action %}
    <a class="btn btn-outline-secondary border-0 p-2" href="/"><i class="fa fa-fw fa-arrow-left"></i></a>
{% endblock primary_action %}

{% block options %}
    <a class="dropdown-item" onclick="SessionPage.fnEdit();">
        <i class="fa fa-fw fa-edit me-3"></i>
        <span>Edit</span>
    </a>

    {% if "last_n_messages" in common.session %}
        {% if common.session.last_n_messages.__class__.__name__ == "int" %}
            <a class="dropdown-item text-warning" onclick="Session.fnReset();">
                <i class="fa fa-fw fa-recycle me-3"></i>
                <span>Reset</span>
            </a>
        {% endif %}
    {% endif %}

    <a class="dropdown-item" onclick="SessionSettingsModal.fnShow();">
        <i class="fa fa-fw fa-cog me-3"></i>
        <span>Settings</span>
    </a>

    <div class="dropdown-divider"></div>
{% endblock options %}

{% block toolbar %}
    <div class="navbar navbar-expand bg-gray-800 justify-content-between px-2">
        <div class="align-items-center">
            <div class="form-inline">
                <div class="input-group">
                    <span class="input-group-text"><i class="fa fa-fw fa-search"></i></span>
                    <input type="text" class="form-control" name="search-text" placeholder="Search messages..." autocomplete="off">
                    <a class="btn btn-secondary" onclick="SessionPage.fnClearSearch();"><i class="fa fa-fw fa-xmark"></i></a>
                </div>
            </div>
        </div>

        <div>
        </div>
    </div>
{% endblock toolbar %}

{% block navbar_spacing %}
    <div class="navbar-spacing"></div>
{% endblock navbar_spacing %}

{% block body %}
    <link rel="stylesheet" href="/css/session.css">
    <input type="hidden" name="session-name" value="{{ common.session.name }}" />

    <div class="container mt-3">
        <div class="row">
            <div class="col-lg-5">
                <div class="mt-2 mb-5">
                    <div>This is the beginning of the conversation.</div>
                    <hr />
                </div>

                <div class="w-100" id="messages"></div>
            </div>
        </div>
    </div>

    <!-- Template to copy for added messages: -->
    <div class="d-none">
        <div class="message-template">
            <div class="message-wrapper">
                <div class="message-id d-none">-1</div>
                <div class="message-body-original d-none">No message content...</div>
                <div class="message-body mb-0">No message content...</div>
                <div class="message-footer text-muted align-text-top">
                    <small>
                        <span></span>
                        <span class="message-author">nobody</span>
                        <span class="message-control-link d-none">| <a href="javascript:void(0);" onclick="SessionMessage.fnEdit(this);"><i class="fa fa-fw fa-edit"></i></a></span>
                    </small>
                </div>
                <div class="message-control-container"></div>
            </div>
        </div>

        <div class="message-controls my-2">
            <a class="btn btn-sm btn-outline-success mb-1" onclick="SessionMessage.fnSave(this);"><i class="fa fa-fw fa-save"></i></a>
            <a class="btn btn-sm btn-outline-secondary mb-1 hide-message-btn" onclick="SessionMessage.fnHide(this, true);"><i class="fa fa-fw fa-eye-slash"></i></a>
            <a class="btn btn-sm btn-outline-secondary mb-1 unhide-message-btn" onclick="SessionMessage.fnHide(this, false);"><i class="fa fa-fw fa-eye"></i></a>
            <a class="btn btn-sm btn-outline-danger mb-1" onclick="SessionMessage.fnDelete(this);"><i class="fa fa-fw fa-trash"></i></a>
            <a class="btn btn-sm btn-outline-secondary mb-1" onclick="SessionMessage.fnCancelEdit(this);"></i><i class="fa fa-fw fa-xmark"></i></a>
        </div>
    </div>

    {% include "modals/session_settings.html" %}
{% endblock body %}

{% block footer %}
    <div>
        <div class="navbar-spacing"></div>
    </div>

    <div class="fixed-bottom border-top">
        <div class="navbar navbar-expand navbar-dark bg-black justify-content-between px-2">

            <div class="w-100 align-items-center">
                <div class="form-inline w-100">
                    <div class="input-group w-100">
                        <input type="text" class="form-control" name="user-input" placeholder="Type a message..." autocomplete="off">
                        <a class="btn btn-primary" onclick="Session.fnSend();"><i class="fa fa-fw fa-paper-plane"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock footer %}

{% block scripts %}
    <!-- Page Functionality -->
    <script src="/js/Session.js"></script>
    <script src="/js/SessionMessage.js"></script>
    <script src="/js/SessionPage.js"></script>
    
    <!--
    <script src="/js/session.js"></script>
    -->
{% endblock scripts %}
